.header-pic-thumb {
    height: 36px;
}

.logo-thumb {
    width: 32px;
}

.avatar-thumb {
    width: 36px;
}

.hero-pic {
    --bs-aspect-ratio: 31%
}

.text-shadow-custom {
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

.hero-search {
    max-width: 90%;
}