php_value auto_prepend_file "C:\Users\idige\Desktop\docker\docker-dwes\docker-dwes\www\DWES\T3\Actividades\Actividad4\header.php"

php_value auto_prepend_file "C:\Users\idige\Desktop\docker\docker-dwes\docker-dwes\www\DWES\T3\Actividades\Actividad4\footer.php"